    @import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');
    body {
        font-family: 'Monda', sans-serif;
    }
    
    body p {
        font-family: 'Monda', sans-serif;
        font-size: 14px;
    }
    
    .banner .get-button a:nth-child(2):hover,
    .banner .get-button a:nth-child(1):hover,
    footer .get-button .btn-download:hover {
        background: #ffc710 !important;
        color: #1E1E1E
    }
    
    .banner .get-button .btn-download:hover:after {
        filter: brightness(0.1);
    }
    
    footer .get-button a.playnow:hover {
        background: #dda901;
    }
    
    .table-poker tr td .btn:hover,
    .section-blog .btn-play:hover {
        background: #e6b004
    }
    
    footer .get-button .btn-download:hover:after {
        /* Safari 6.0 - 9.0 */
        filter: brightness(0.1)
    }
    /*Hamburger Menu*/
    
    .hamburger {
        padding: 15px 15px;
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible;
    }
    
    .hamburger:hover {
        opacity: 0.7;
    }
    
    .hamburger.is-active:hover {
        opacity: 0.7;
    }
    
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        background-color: #000;
    }
    
    .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;
    }
    
    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px;
    }
    
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 40px;
        height: 4px;
        background-color: #000;
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }
    
    .hamburger-inner::before,
    .hamburger-inner::after {
        content: "";
        display: block;
    }
    
    .hamburger-inner::before {
        top: -10px;
    }
    
    .hamburger-inner::after {
        bottom: -10px;
    }
    /*
   * Spin
   */
    
    .hamburger--spin .hamburger-inner {
        transition-duration: 0.22s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    
    .hamburger--spin .hamburger-inner::before {
        transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    }
    
    .hamburger--spin .hamburger-inner::after {
        transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    
    .hamburger--spin.is-active .hamburger-inner {
        transform: rotate(225deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    
    .hamburger--spin.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    }
    
    .hamburger--spin.is-active .hamburger-inner::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    /*
     * Spin Reverse
     */
    
    .hamburger--spin-r .hamburger-inner {
        transition-duration: 0.22s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    
    .hamburger--spin-r .hamburger-inner::before {
        transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    }
    
    .hamburger--spin-r .hamburger-inner::after {
        transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    
    .hamburger--spin-r.is-active .hamburger-inner {
        transform: rotate(-225deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    
    .hamburger--spin-r.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    }
    
    .hamburger--spin-r.is-active .hamburger-inner::after {
        bottom: 0;
        transform: rotate(90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    
    .home header {
        background: url(images/headerbg.png) repeat-y #0E180A top center;
        overflow: hidden;
        position: relative;
        z-index: 200;
    }
    
    header {
        background: url(images/headerbg.png) repeat-y #0E180A bottom center;
        overflow: hidden;
        position: relative;
        z-index: 200;
    }
    
    header .swc-logo img {
        width: 110px;
        height: 110px;
        object-fit: contain;
    }
    
    header .navbar {
        background: #033018;
        border-bottom: #F6BC00 solid 1px;
        position: relative;
        /* z-index: 200; */
    }
    
    header .navbar .container #navmenu {
        justify-content: flex-end;
    }
    
    .swc-logo {
        z-index: 800;
        /* position: 800 */
    }
    
    #navmenu li a {
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        padding: 0 15px;
    }
    
    .get-button a {
        display: inline-block;
        padding: 10px 18px;
        text-transform: uppercase;
        color: #fff;
        border: #005527 solid 1px;
        font-weight: 700;
        position: relative
    }
    
    .get-button a:nth-child(1) {
        padding-right: 37px;
    }
    
    .get-button a:nth-child(1):after {
        content: '';
        position: absolute;
        width: 10px;
        height: 8px;
        background: url(images/arrow-icon.svg) no-repeat;
        display: block;
        top: 16px;
        right: 12px
    }
    
    .get-button a:nth-child(2) {
        background: #F6BC00;
        color: #241F20;
        font-weight: 700;
    }
    
    header .navbar-expand-lg .navbar-nav {
        margin: 0 25px 0 0;
    }
    
    header .get-button a:nth-child(1):after {
        top: 19px;
    }
    
    header .navbar {
        position: relative;
    }
    
    header .slant {
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        bottom: -189px;
    }
    
    header .slant svg {
        stroke: #F6BC00;
        stroke-width: 1;
    }
    
    header .navbar .slant-contain {
        width: 900px;
        height: 60px;
        position: absolute;
        bottom: -90px;
        content: '';
        left: 50%;
        transform: translate(-50%, -50%);
        background: #033018;
        border-bottom: #F6BC00 solid 1px;
    }
    
    header .navbar .slant-contain:before {
        content: '';
        width: 50px;
        height: 60px;
        left: 0;
        border-left: 60px solid red;
        border-top: 60px solid #333;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    header .navbar .container {
        position: relative;
        z-index: 200;
    }
    
    .banner {
        padding: 180px 0 0 0;
        background: url(images/headerbg.png) repeat-x #0a0b0a;
        /* background: url(images/pool.png) no-repeat center bottom #0E180A; */
        background-size: 1100px;
        margin-top: -80px;
        position: relative;
        z-index: 90;
    }
    
    .banner:after {
        background: url(images/pool.png) no-repeat center bottom;
        width: 1130px;
        height: 280px;
        content: '';
        bottom: 0;
        position: absolute;
        background-size: 100%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    .banner .container {
        z-index: 200;
        position: relative
    }
    
    .banner .featured-img img {
        display: block;
    }
    
    .bloglist .featured-img {
        position: relative;
        margin-bottom: 0;
    }
    
    .bloglist .desc .btn {
        background: #175f3a;
        border: #f6bc00 solid 1px;
        position: relative;
        padding-right: 30px;
        text-transform: uppercase;
        color: #f6bc00
    }
    
    .bloglist .desc .btn:hover {
        background: #f7bc00;
        color: #0f0a0a;
        cursor: pointer;
    }
    
    .bloglist .desc .btn:hover:after {
        filter: gray;
        /* IE6-9 */
        -webkit-filter: grayscale(1);
        /* Google Chrome, Safari 6+ & Opera 15+ */
        filter: grayscale(1);
        /* Microsoft Edge and Firefox 35+ */
    }
    
    .bloglist .desc .btn:after {
        content: '';
        background: url(images/arrow-right.svg) no-repeat;
        width: 11px;
        height: 11px;
        background-size: 9px;
        top: 13px;
        position: absolute;
        right: 5px;
        filter: brightness(0) invert(1);
    }
    
    .bloglist .featured-img:before {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 5px 4px 7px #197448;
        box-shadow: inset 5px 4px 7px #197448;
        position: absolute;
        z-index: 200;
    }
    
    .banner .tournament-table {}
    
    .desc-prod table {
        width: 100% !important;
    }
    
    .additional-product .nav li {
        width: 50%;
    }
    
    .poker-stats {
        position: relative;
        z-index: 30;
        margin-top: 15px
    }
    
    .poker-stats .info {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    .poker-stats .info .col-box {
        background: #005527;
        width: 280px;
        margin: 0 15px;
        border-radius: 10px;
        text-align: center;
        align-items: center;
        align-self: center;
        padding: 8px;
    }
    
    .poker-stats .info .col-box ul,
    .poker-stats .info .col-box p {
        margin-bottom: 0;
        padding: 0;
    }
    
    .poker-stats .info .col-box h2 {
        color: #F6BC00;
        margin: 0;
        padding: 0;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .poker-stats .info .col-box p {
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
    }
    
    .poker-stats .info .col-box ul {
        display: flex;
        list-style: none;
    }
    
    .poker-stats .info .col-box ul li {
        flex: 1 0 0%;
        border-right: #2D4E24 solid 1px;
    }
    
    .poker-stats .info .col-box ul li span {
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
    }
    
    .banner .featured-img img {
        max-width: 100%;
    }
    
    .banner {
        padding-bottom: 100px;
    }
    
    .banner .inner {
        margin: 0 0 0 110px;
    }
    
    .banner h1 {
        font-size: 70px;
        color: #fff;
        font-weight: 700;
    }
    
    .banner .get-button a {
        padding: 7px 27px;
    }
    
    footer .get-button a.playnow,
    .banner .get-button a.playnow {
        background: #F6BC00;
        color: #1E1E1E;
        padding-right: 40px;
    }
    
    .btn-default {
        padding: 7px 27px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1rem;
        color: #1E1E1E;
        padding-right: 40px;
        position: relative;
        background: url(images/arrow-right-space.svg) no-repeat center right #F6BC00;
    }
    
    .section-blog.poker-faq {
        background: #0A0B0A;
    }
    
    .section-blog.poker-faq .title h2 {
        background: #0A0B0A;
    }
    
    .poker-faq.section-blog #Mask-2 {}
    
    .poker-faq h2 {
        text-transform: uppercase;
    }
    
    .poker-faq.section-blog #Mask-2 {
        fill: #0A0B0A;
    }
    
    .poker-faq .section-faq {
        background: none;
        padding-top: 20px;
    }
    
    .poker-faq .section-faq {
        border: none;
    }
    
    .comments form p {
        width: 48%;
        display: inline-block
    }
    
    .comments form p:last-child {
        width: 99%;
    }
    
    .comments form .text {
        background: #131313;
        border: #413A24 solid 1px;
        padding: 15px;
    }
    /* .btn-default:after {
            content: '';
            background: url(images/arrow-right.svg) no-repeat;
            width: 11px;
            height: 11px;
            background-size: 9px;
            top: 13px;
            display: block;
            position: absolute;
            right: 12px;
        } */
    
    footer .get-button .btn-download,
    .banner .get-button .btn-download {
        background: none;
        border: #F6BC00 solid 1px;
        color: #F6BC00;
        position: relative;
        padding: 7px 60px 7px 27px;
    }
    
    .btn-default-reply {
        background: none;
        border: #F6BC00 solid 1px;
        color: #F6BC00;
        position: relative;
        padding: 7px 60px 7px 27px;
    }
    
    footer .get-button .btn-download:after,
    .banner .get-button .btn-download:after {
        content: '';
        background: url(images/android-icon.svg) no-repeat;
        position: absolute;
        right: 5px;
        top: 11px;
        background-size: 100%;
        width: 42px;
        height: 17px;
    }
    
    footer .get-button a:nth-child(1):after,
    .banner .get-button a:after {
        content: '';
        background: url(images/arrow-right.svg) no-repeat;
        width: 11px;
        height: 11px;
        background-size: 9px;
        top: 13px;
    }
    
    footer .get-button a:nth-child(1) {
        margin-right: 8px
    }
    
    .banner p {
        color: #fff;
    }
    
    .banner .btn-set a {
        background: #F6BC00;
        padding: 8px 20px;
    }
    
    body a {
        box-shadow: none !important;
    }
    
    header .get-button a:nth-child(1):hover {
        background: #005527 !important;
        color: #fff;
    }
    
    header .get-button a:nth-child(1):after {
        top: 18px;
    }
    
    #navmenu .get-button a:nth-child(2):hover {
        background: #fcc514
    }
    
    #navmenu .get-button a:nth-child(2) {
        color: #241F20
    }
    
    #navmenu li:last-child a {
        padding-right: 0;
        margin-right: 0;
    }
    
    header .get-button a:nth-child(1) {
        margin-right: 8px;
    }
    
    .banner .get-button a:nth-child(1) {
        margin: 0 8px 0 0;
    }
    
    section.tournament-table {
        background: #0A0B0A;
        padding: 80px 0 150px 0;
    }
    
    .table-poker {
        border: #23371B solid 1px;
    }
    
    .table-poker table {
        width: 100%;
    }
    
    .table-poker tr th,
    .table-poker tr td {
        padding: 10px 30px;
        background: #0F110E;
        border-bottom: #23371B solid 1px;
        color: #fff;
        text-align: left;
    }
    
    .table-poker tr td {
        text-align: left;
    }
    
    .table-poker tr td .btn {
        background: #F6BC00;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    .table-poker tr th {
        background: #005527;
        padding: 20px 30px;
        text-transform: uppercase;
    }
    
    .table-poker tr td:last-child {
        text-align: right;
    }
    
    .table-poker tr:nth-child(even) td {
        background: #181B16;
    }
    
    .tournament-table h2 {
        border: #23371B solid 1px;
        padding: 15px;
        color: #fff;
        text-align: center;
        margin: 0;
        border-bottom: 0;
    }
    
    .bloglist .inner {
        border: #156C4B solid 1px;
        border-radius: 15px;
        overflow: hidden;
        margin: 0 10px;
        border: #2EB35C solid 1px;
    }
    
    .bloglist .inner:after {
        background: #14572b;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        content: ''
    }
    
    .bloglist .inner .desc {
        padding: 20px;
        background: rgb(21, 108, 75);
        background: linear-gradient(14deg, rgba(21, 108, 75, 1) 0%, rgba(36, 144, 60, 1) 100%);
    }
    
    .bloglist .inner .featured-img img {
        max-width: 100%;
        border-radius: 10px 10px 0 0;
        display: block
    }
    
    .section-blog {
        background: url(images/bg-green-blog.png) repeat-y bottom center #0e180a;
        padding: 50px 0;
        position: relative;
    }
    /* .section-blog:before {
    width: 360px;
    background: url(images/curv-top.png) no-repeat;
    content: '';
    height: 43px;
    position: absolute;
    top: -43px;
    left: 0;
} */
    
    .bloglist .inner .desc h2 {
        color: #fff;
        font-size: 20px;
        text-align: left;
        margin: 0 0 10px 0;
    }
    
    .bloglist .inner .desc span {
        color: #F6BC00;
        display: block;
        margin: 0 0 5px 0;
    }
    
    .bloglist .inner .desc p {
        color: #fff;
        font-size: 14px;
    }
    
    .bloglist:after {
        content: '';
        background: url(images/headerbg.png) no-repeat;
    }
    
    .section-blog .btn-play {
        background: #F6BC00;
        color: #000;
    }
    
    .section-blog .get-button {
        text-align: center;
        padding: 50px 0 0 0;
    }
    
    .section-blog .get-button a:after {
        content: '';
        background: url(images/arrow-right.svg) no-repeat;
        width: 11px;
        height: 11px;
        background-size: 9px;
        top: 16px;
        right: 10px;
    }
    
    .section-blog h2 a {
        color: #fff;
        text-decoration: none
    }
    
    .section-faq {
        padding: 50px 0;
    }
    
    section h2,
    .section-faq h2 {
        margin: 0 0 50px 0;
        text-align: center;
        color: #F6BC00;
    }
    
    .section-faq .accordion-header {
        margin-bottom: 15px;
    }
    
    .section-blog .inner {
        position: relative;
        border-radius: 5px 5px 0 0;
        border-bottom: none;
    }
    
    .section-blog .inner:after {
        width: 100%;
        height: 9px;
        background: #13582b;
        position: absolute;
        content: '';
        bottom: -4px;
        border-bottom: none;
        border-radius: 0 0 17px 17px;
    }
    
    .section-blog .inner {
        overflow: visible;
        border-radius: 5px 5px 0 0;
    }
    
    .bloglist .inner {
        overflow: visible;
        border-radius: 8px 8px 8px 8px;
        margin-bottom: 40px;
    }
    
    .bloglist .inner .desc {
        border-radius: 0 0 8px 8px;
        border-bottom: #2EB35C solid 1px;
        z-index: 200;
        position: relative;
    }
    
    .bloglist .featured-img:before {
        border-radius: 8px 8px 0 0;
    }
    
    .section-blog {
        border-bottom: #806305 1px solid;
        border-top: #9e842f 1px solid;
    }
    
    .section-faq {
        background: #0A0B0A;
        padding: 72px 0;
    }
    
    .section-faq h2 {
        color: #F6BC00;
    }
    
    .section-faq .accordion-button {
        background: #131413;
    }
    
    .section-faq .accordion-item {
        border: none;
        background: none
    }
    
    .section-faq .accordion-item .accordion-button.collapsed {
        background: #131413;
        border: #413A24 solid 1px;
        color: #F6BC00 !important;
        font-weight: 700
    }
    
    .section-faq .accordion-item .accordion-button {
        background: #f6bc00;
        border: #413A24 solid 1px;
        color: #000 !important;
        font-weight: 700;
        outline: none !important;
        box-shadow: none
    }
    
    .accordion-collapse {
        background: #181818;
        /* margin-bottom: 20px; */
    }
    
    .section-faq .accordion-body {
        margin-bottom: 20px;
        color: #fff;
    }
    
    .section-faq .accordion-body a {
        color: #F6BC00;
    }
    
    .section-faq .accordion-body a:hover {
        color: #039546;
    }
    
    .section-faq .accordion-body li {
        color: #C5C5C5;
        font-family: 'Monda', sans-serif;
        font-size: 14px;
        line-height: 20px;
    }
    
    .section-faq .accordion-body .table-poker {
        margin-bottom: 20px;
    }
    
    .section-faq .accordion-item .accordion-body h3 {
        color: #F6BC00;
        font-size: 20px;
        margin-top: 20px;
    }
    
    .alpha {
        list-style-type: lower-alpha;
        margin: 0 0 20px 20px;
    }
    
    .section-faq .accordion-item .column-table tr td {
        text-align: left;
    }
    
    .section-faq .accordion-item .accordion-body tr td {
        font-size: 14px;
    }
    
    .section-faq .accordion-item .accordion-body p {
        color: #C5C5C5;
        font-family: 'Monda', sans-serif;
        font-size: 14px;
        line-height: 20px;
    }
    
    .section-faq .accordion-item .accordion-body hr {
        background: #0A0B0A;
        margin: 15px 0;
    }
    
    .section-faq {
        border-bottom: #806305 1px solid;
    }
    
    .section-ourteam {
        padding: 80px 0;
        background: #0A0B0A;
        padding-bottom: 140px
    }
    
    .section-ourteam h2 {
        color: #F6BC00;
        text-transform: uppercase;
        text-align: center
    }
    
    .section-ourteam .team {
        margin: 0;
        padding: 0;
    }
    
    .team {
        list-style: none;
        display: flex;
    }
    
    .team li {
        width: 33%;
    }
    
    .section-ourteam {
        background: #0A0B0A;
    }
    
    .section-ourteam .team {
        flex-wrap: wrap;
        justify-content: center;
        align-items: end;
        margin: auto;
        display: inline-flex;
        align-self: center;
    }
    
    .section-ourteam .team li {
        flex: 0 26%;
        /* background: Red; */
        margin: 0 10px 40px 10px;
        text-align: center;
        flex: 1 1 161px;
    }
    
    .team .team-img img {
        max-width: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    
    .team h3 {
        color: #F6BC00;
        font-size: 20px;
        text-transform: uppercase;
        margin: 0 0 0 0;
    }
    
    .team span {
        color: #fff;
    }
    
    .section-ourteam h2 {
        margin: 0 0 50px 0;
    }
    
    footer {
        background: #0C0F0B;
        padding: 50px 0;
        text-align: center;
        padding-top: 0;
    }
    
    .footer-logo p {
        color: #fff;
    }
    
    .footer-info {
        text-align: left;
        margin: 0 0 20px 0;
    }
    
    .footer-info h3 {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase
    }
    
    .footer-info {
        border-bottom: #1B2319 solid 1px;
        padding-bottom: 70px;
    }
    
    .section-ourteam {
        background: url(images/oval-transparent.png) no-repeat #0C0F0B center;
        background-position: center 220px;
    }
    
    .section-ourteam .container {
        display: flex;
        flex-direction: column;
    }
    
    .section-ourteam .container ul {}
    
    .accordion-button::after {
        background: url(images/accord-arrow-right.svg) no-repeat;
        background-size: 12px !important;
    }
    
    .accordion-button:not(.collapsed)::after {
        background: url(images/accord-arrow-down.svg) no-repeat;
        background-size: 19px !important;
        transform: rotate( 0deg);
        position: relative;
        top: 4px;
        left: -5px;
    }
    
    .footer-info p,
    .footer-logo p {
        color: #cacac8;
    }
    
    footer {
        border-top: #9e842f solid 1px;
        padding-bottom: 30px;
        position: relative;
    }
    
    .topslant {
        position: absolute;
        top: -50px;
        left: 50%;
        margin-left: -280px;
        transform: translate(-50%, 0);
    }
    
    .topslant svg {
        stroke: #9e842f;
        stroke-width: 1;
    }
    
    footer .container {
        position: relative;
        z-index: 200;
    }
    
    footer .swc-icon {
        display: inline-block;
        /* background: #0C0F0B; */
        padding: 26px 20px 0 20px;
        position: relative;
    }
    
    footer .swc-icon:after {
        content: '';
        width: 100%;
        height: 1px;
        background: #0C0F0B;
        position: absolute;
        left: 0;
        bottom: 71px;
    }
    
    footer .social-media img {
        width: 20px;
    }
    
    footer .social-media {
        display: flex;
        justify-content: center
    }
    
    footer .footer-logo {
        margin-top: -100px;
    }
    
    footer .footer-logo img {
        max-width: 90px;
        margin-bottom: 30px;
        position: relative;
        z-index: 100;
    }
    
    footer .social-media a {
        margin: 0 3px;
    }
    
    footer .social-media {
        margin: 0 0 20px 0;
    }
    
    .footer-logo p {
        margin-bottom: 20px;
    }
    
    .footer-info .row {
        justify-content: space-between
    }
    
    .footer-info .footer-info p {
        margin: 0 0 0;
    }
    
    .footer-info .hash-signed p {
        margin: 0 0 10px 0;
    }
    
    .footer-info .hash-signed {
        margin-bottom: 15px;
    }
    
    footer .hash-signed .text {
        background: url(images/docs-icon.png) no-repeat #20251E 10px center;
        background-size: 18px;
        width: 100%;
        border: none;
        padding: 5px 15px;
        border: none;
        color: #8d928c;
        font-size: 15px;
        border-radius: 5px;
        padding-left: 37px;
        outline: none;
        box-shadow: none;
    }
    
    footer .get-button a {
        padding: 7px 19px;
    }
    
    .footer-links {
        padding-top: 15px;
        margin-left: 15px;
    }
    
    .footer-links ul {
        display: flex;
    }
    
    .footer-links ul {
        list-style: none;
    }
    
    .footer-links li a {
        color: #fff;
    }
    
    .footer-links ul {
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .footer-links ul li {
        flex-basis: calc(100% / 6);
        box-sizing: border-box;
        text-align: left;
    }
    
    .footer-links ul li a {
        text-decoration: none;
        font-size: 13px;
        text-transform: uppercase;
        padding: 0 5px;
        color: #cacac8;
    }
    
    .section-blog {
        position: relative
    }
    
    .section-blog #Mask-2 {
        fill: #0e180b
    }
    
    .section-blog .title {
        text-align: center;
        margin-top: -120px;
        position: relative;
        z-index: 200;
    }
    
    .section-blog .title h2 {
        background: url(images/bg-title.png) repeat-x;
        display: inline-block;
        padding: 20px
    }
    
    .page .banner {
        display: none
    }
    
    .page {
        background: #0A0D09;
        /* padding: 80px 0; */
        padding-top: 80px;
    }
    
    .page h1 {
        color: #fff;
        font-size: 60px;
        font-weight: 700;
        margin: 0 0 50px 0;
        text-transform: uppercase;
        /* text-align: center; */
    }
    
    .page .index-links ul {
        margin: 0;
        padding: 0;
    }
    
    .page .index-links {
        position: relative;
    }
    
    .page .index-links:after {
        content: '';
        position: absolute;
        right: 17px;
        top: 0;
        height: 60%;
        width: 1px;
        background: #F6BC00;
    }
    
    .page .index-links .links {
        margin: 0 0 20px 0;
    }
    
    .page .index-links ul li {
        list-style: none;
    }
    
    .page .widget {
        margin: 0 0 20px 0;
    }
    
    .page .widget ul {
        padding: 0;
        margin: 0;
    }
    
    .page .widget h5 {
        color: #fff;
        text-transform: uppercase;
        margin: 0 0 5px 0;
    }
    
    .page .widget ul li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .page .widget ul li a {
        color: #fff;
        font-size: 14px;
        text-decoration: none;
    }
    
    .index-links .links a {
        color: #fff;
        font-size: 14px;
        text-decoration: none;
    }
    
    .index-links .links a:hover {
        color: #005527;
        cursor: pointer;
    }
    
    .index-links h4 {
        color: #F6BC00;
        text-transform: uppercase;
        font-size: 20px;
    }
    
    .content-section {
        padding: 0 0 100px 0
    }
    /* .latest-promition {
        background: url(images/latest-promitionbg.png) no-repeat #000 center top;
        background-size: cover;
        border-bottom: none
    } */
    
    .latest-promition {
        padding-bottom: 120px;
    }
    
    .latest-promition .latest-promition .btn-play {
        background: none;
        border: #005527 solid 1px;
        color: #F6BC00;
        padding: 10px 38px !important;
    }
    
    .latest-promition .btn-play:hover {
        color: #272727
    }
    
    .latest-promition .btn-play:after {
        display: none!important;
    }
    
    .latest-promition:after {
        content: '';
        width: 100%;
        height: 1110px;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
    }
    
    .latest-promition .container {
        z-index: 200;
        position: relative
    }
    /* .latest-promition .title h2 {
        background: #0e180a;
    } */
    
    .latest-promition .title h2:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 10px;
        left: 0;
        bottom: 23px;
        background: #0e180a;
    }
    
    .latest-promition .topslant svg #Mask-2 {
        fill: #0e180a
    }
    
    .bloglist.blog-post .inner {
        padding: 0;
        margin: 0 0 25px 0;
    }
    
    .bloglist.blog-post h2 a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
    }
    
    .bloglist.blog-post {
        border: none;
        margin-right: 15px;
    }
    
    #blog .index-links:after {
        right: 8px;
    }
    
    #blog .bloglist .inner:after {
        display: none;
    }
    
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .pagination {
        justify-content: center;
    }
    
    .pagination .pager li a {
        color: #CECECE;
    }
    
    .pager {
        border: none;
    }
    
    .pager ul {
        display: flex;
        justify-content: center;
    }
    
    .pager ul li a {
        display: block;
        padding: 12px 18px;
        color: #000000;
    }
    
    .pager ul li {
        /* border: #e1e1e1 solid 1px; */
        padding: 0;
    }
    
    .pager ul li a {
        color: #000000;
        text-decoration: none;
    }
    
    .pager ul li.active a,
    .pager ul li:hover a {
        background: #2EB35C;
        color: #fff;
    }
    
    .pager ul li:last-child i {
        font-size: 20px;
    }
    
    .pager ul li {
        list-style: none;
    }
    
    .pager ul {
        margin: 0;
        padding: 0;
    }
    
    .pager {
        margin: 20px 0;
    }
    
    .comments {
        padding: 0 0 90px 0;
    }
    
    .comments textarea {
        height: 100px;
    }
    
    .btn-default-border {
        background: none;
        border: #005527 solid 1px;
        color: #F6BC00;
        padding: 10px 38px !important;
    }
    
    .btn-default-border {
        border: #F6BC00 solid 1px;
        padding: 5px 38px !important;
    }
    
    .comments .btnlist-submit {
        text-align: center;
    }
    
    .comments form .text {
        text-transform: uppercase;
    }
    
    .comments h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: left;
        margin: 0 0 20px 0;
    }
    
    .comments .text {
        width: 98%
    }
    
    .comments-side .entry {
        margin: 0 0 20px 0
    }
    
    .comments p:nth-child(1) {
        margin-right: 3px;
    }
    
    .comments form p:nth-child(3) {
        width: 98%;
    }
    
    .comments h5 {
        color: #F6BC00;
        margin-bottom: 27px;
    }
    
    .comments h6 {
        color: #F6BC00
    }
    
    .comments p {
        color: #fff;
    }
    
    .comments .btn-default-border {
        font-size: 13px;
    }
    
    .comments textarea {
        height: 148px;
    }
    
    .btn-default-border:after {
        content: '';
        background: url(images/arrow-right.svg) no-repeat;
        width: 11px;
        height: 11px;
        background-size: 9px;
        top: 13px;
    }
    
    @media only screen and (max-width: 991px) {
        .bloglist.blog-post {
            margin-right: 0 !important;
        }
        .sidenav {
            display: flex;
            flex-wrap: wrap;
            margin: 50px 0 0 0;
        }
        .sidenav .widget {
            width: 50%;
            margin-bottom: 30px;
        }
        .page .index-links:after {
            display: none !important;
        }
        .poker-stats .info .col-box h2,
        .poker-stats .info .col-box h2 {
            font-size: 19px;
        }
        .poker-stats .info .col-box p {
            font-size: 14px;
        }
        header svg {
            width: 1761px;
            height: 222px;
        }
        header .slant {
            bottom: -162px;
        }
        .poker-stats .info .col-box p {
            font-size: 12px;
        }
        .poker-stats .info .col-box ul li span {
            font-size: 11px;
        }
        .banner h1 {
            font-size: 40px;
        }
        .banner .inner {
            margin: 0;
        }
        .banner:after {
            width: 830px;
        }
        .tournament-table h2 {
            font-size: 24px;
            padding: 20px 0;
        }
        section.tournament-table {
            padding: 48px 0 150px 0;
        }
        .table-poker tr th,
        .table-poker tr td {
            padding: 10px 17px;
            font-size: 13px;
        }
        .table-poker tr td:nth-child(2) {
            width: 107px;
        }
        .table-poker tr td .btn {
            padding: 5px 6px;
            font-size: 13px;
        }
        .bloglist .inner {
            margin: 0;
        }
        .section-blog h2 a {
            font-size: 16px;
        }
        .footer-links ul li {
            flex-basis: calc(100% / 3);
            margin: 0 0 10px 0;
        }
    }
    
    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
        background-color: #F6BC00 !important;
    }
    
    .overlay ul {
        list-style: none;
        padding: 0 30px;
        margin: 0 auto;
        display: inline-block;
        height: 100%;
        position: relative;
        width: 100%;
        z-index: 1000;
        margin-top: 10vh;
    }
    
    .overlay ul li {
        display: block;
        height: 20%;
        height: calc(50% / 5) !important;
        min-height: 54px;
        text-align: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .container.overlay-open::after {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }
    
    .overlay {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 1000;
        background: #005527;
    }
    
    .hamburger {
        z-index: 1200;
        outline: none !important;
        cursor: pointer;
    }
    
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner:after,
    .hamburger.is-active .hamburger-inner:before {
        background-color: #fff !important;
    }
    
    .overflow {
        overflow: hidden;
    }
    
    .overlay-contentpush {
        z-index: -2;
        background: #053019;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateX(-100%);
        /* transform: translateX(-100%); */
        -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
        transition: transform 0.5s, visibility 0s 0.5s;
    }
    
    .overlay-contentpush ul li a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 23px;
    }
    
    .overlay-contentpush ul li:hover a {
        color: #2ACCAC;
    }
    
    .overlay-contentpush.open {
        visibility: visible;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.3s;
        z-index: 600;
    }
    
    .hamburger {
        right: 0;
        position: absolute;
        display: none;
    }
    
    .blog-details .content-section img {
        max-width: 100%;
    }
    
    .blog-details .content-section .title {
        margin-bottom: 0;
        font-size: 40px;
    }
    
    .blog-details .content-section .subtitle {
        font-size: 17px;
        color: #F6BC00;
        display: block;
        margin-bottom: 20px;
    }
    
    .blog-details .content-section p {
        color: #fff;
    }
    
    .blog-details .featured-img {
        margin-bottom: 0px;
    }
    
    .blog-details .content-section h2 {
        text-align: left;
        margin: 0 0 20px 0;
    }
    
    .blog-details .content-section strong {
        color: #fff;
        display: block;
        margin: 0 0 20px 0;
    }
    
    .blog-details .content-section h3 {
        color: #fff;
        text-align: left;
        font-size: 19px;
    }
    
    .comments form textarea {
        height: 220px;
    }
    
    .blog-details .content-section {
        padding-bottom: 50px
    }
    
    .comments-side .allcomments-btn {
        margin: 0 0 20px 0;
    }
    
    .page.blog-details .index-links:after {
        right: 10px;
    }
    
    .page.blog-details .index-links {
        padding-right: 30px;
    }
    
    .blog-details .content-section {
        border-bottom: #F6BC00 solid 1px;
    }
    
    .leaderboard th {
        text-align: center !important
    }
    
    .leaderboard .table-poker tr td {
        padding: 13px 8px;
        font-size: 14px;
        border-bottom: #483D19 solid 1px;
        background: #181818
    }
    
    .leaderboard .table-poker {
        border: none;
    }
    
    .leaderboard .table-poker tr td:nth-child(3) {
        color: #F6BC00;
    }
    
    .leaderboard h1 {
        margin-bottom: 0px;
    }
    
    .leaderboard .subtitle {
        color: #F6BC00;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    
    .leaderboard .table-poker {
        margin-bottom: 50px;
        margin-right: 30px;
    }
    
    .leaderboard .table-poker.yellow th {
        background: #F6BC00;
        color: #0A0B0A
    }
    
    .leaderboard .table-poker tr td:last-child {
        text-align: left;
    }
    
    .leaderboard .table-poker tr th {
        padding: 11px 30px;
    }
    
    .leaderboard .table-poker tr td:nth-child(1) {
        text-align: center
    }
    .search-crypto .text{
        display: inline-block;
        padding: 10px 18px;
        text-transform: uppercase;
        color: #fff;
        border: #005527 solid 1px;
        font-weight: 700;
        position: relative;
        background:none;
        border-radius: 5px;
        font-size: 14px;
        font-weight: normal;
        outline:none;
        width:360px;
    }
    .search-crypto{
        text-align: center;
        margin:0 0 20px 0;
    }
    .search-text{
        font-size: 14px;
    }
    .crypto-list ul{
        list-style: none;
        margin:0;
        padding:0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        -webkit-box-pack: center ;
        justify-content: center ;
        max-width: 75rem ;
        padding: 0px ;
        margin-left: auto ;
        margin-right: auto;
    }
    .crypto-list ul li{
        appearance: none ;
        background: none ;
        border: 1px solid transparent;
        border-radius: 0.5rem;
        box-shadow: none ;
        color: #fff ;
        cursor: pointer ;
        font-size: 14px;
        letter-spacing: 0px;
        list-style: none;
        margin: 1rem ;
        padding: 0.5rem 0.5rem 1rem ;
        place-content: end center;
        text-align: center ;
        text-transform: none ;
        width: 130px ;
    }
    .crypto-list ul li p{
        margin:3px  0;
        color: #F6BC00;
    }
    .crypto-list ul li h3{
        font-size:18px;
        margin-bottom:0;
    }
    .crypto-list ul li span{
        color: #005527;
        padding: 1px 4px;
        font-size: 11px;
        border-radius: 5px;
        color: #fff;
        border: #fff solid 1px;
    }
    .sideshift-popup h2{
        margin:0 0 30px 0;
    }
    .crypto-list ul li .crypto-icon{
        width: 80px;
        margin: 0 0 20px 0;
        height: 70px;
        object-fit: contain;
    }
    .crypto-list ul li:hover{
        border-radius: 10px;
        background: rgba(0,85,39,0.23);
        box-shadow: 0px 0px 24px rgba(0,85,39,0.23) !important;
        
    }
    .crypto-list ul li.active{
        border: #005527 solid 1px;
   
        background: #181B16;
        border-radius: 10px;
    }
    .crypto-list{
        border-bottom: #23371B solid 1px;
    }
    .crypto-list{
        margin:0 0 30px 0;
    }
    .sideshift-popup .crypto-list:last-child{
        border:none;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        .banner h1 {
            font-size: 57px;
        }
        #navmenu li a {
            padding: 0 8px;
        }
        .get-button a {
            font-size: 14px
        }
        .table-poker tr td .btn {
            padding-left: 8px;
            padding-right: 7px;
            font-size: 13px;
        }
    }
    
    @media only screen and (max-width: 1024px) {
        .banner:after {
            width: 100%;
        }
    }
    
    @media only screen and (max-width: 991px) {
        .hamburger {
            display: block !important;
        }
    }
    
    @media only screen and (max-width: 860px) {
        .leaderboard .table-poker {
            margin-right: 0;
        }
        .leaderboard .table-poker tr th,
        .leaderboard .table-poker tr td {
            font-size: 18px;
        }
        .banner:after {
            width: 100%;
        }
        header svg {
            width: 1321px;
            height: 222px;
        }
        header .slant {
            bottom: -177px;
        }
        .banner {
            text-align: center
        }
    }
    
    @media only screen and (max-width: 767px) {
        .banner .featured-img img {
            max-width: 62%;
        }
        .banner .inner {
            margin-bottom: 20px;
        }
        .banner .featured-img img {
            margin: auto
        }
        .banner {
            padding-top: 130px;
        }
        .table-poker tr th,
        .table-poker tr td {
            padding: 3px 17px;
        }
        .bloglist .featured-img {
            width: 100%;
        }
        .section-blog .inner {
            margin: 0 0 20px 0
        }
        .section-blog .btn-play {
            padding: 15px 18px;
        }
        .section-blog .get-button a:after {
            top: 20px;
        }
        .bloglist .inner .featured-img img {
            width: 100%;
        }
        .topslant svg {
            width: 100%
        }
        .topslant {
            display: none
        }
        .table-poker tr th,
        .table-poker tr td {
            font-size: 13px
        }
        .table-poker tr th,
        .table-poker tr td {
            padding: 3px 9px;
        }
        .table-poker tr td .btn {
            width: 85px;
            font-size: 12px;
        }
        .table-poker tr:nth-child(even) td {
            font-size: 12px;
        }
        .table-poker tr td:nth-child(1) {
            width: 100px;
        }
        .footer-links ul li {
            flex-basis: calc(100% / 2);
            margin: 0 0 10px 0;
            text-align: left
        }
        .footer-links ul li a {
            font-size: 11px;
        }
        .table-poker tr th:nth-child(1) {
            width: 140px;
        }
        .table-poker tr th:nth-child(2) {
            width: 180px;
        }
        .table-poker tr th:nth-child(3) {
            width: 100px;
        }
        footer .get-button a.playnow,
        .banner .get-button a.playnow,
        footer .get-button .btn-download,
        .banner .get-button .btn-download {
            width: 100%;
        }
        footer .get-button a:nth-child(1) {
            margin-bottom: 10px;
        }
        .footer-info {
            padding-bottom: 30px;
        }
        .section-ourteam .team li {
            flex: 1 1 126px;
        }
        .section-blog .get-button {
            padding: 20px 0 0 0;
        }
        .section-blog .title h2 {
            background: none;
            padding: 0;
        }
        .section-blog .title {
            margin: 0;
        }
        section.tournament-table {
            padding: 80px 0;
        }
        .banner .get-button a:nth-child(1) {
            margin-bottom: 15px;
        }
        .poker-stats {
            display: none
        }
        header .swc-logo img {
            width: 60px;
        }
        header .swc-logo img {
            height: auto;
        }
        .banner .banner-desc {
            order: 2
        }
        .banner h1 {
            font-size: 33px;
        }
        .table-poker table {
            table-layout: fixed;
        }
        .table-poker table {
            width: 609px;
        }
        .table-poker tr th,
        .table-poker tr td {
            padding: 8px 9px;
        }
        .banner .featured-img {
            margin: 0 0 20px 0;
        }
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            width: 34px;
            height: 3px;
        }
        .hamburger-inner::before {
            top: -7px;
        }
        .hamburger-inner::after {
            bottom: -7px;
        }
        header .slant {
            bottom: -89px;
            /* background: red; */
            left: -80px;
        }
        header {
            overflow: visible;
            padding: 0;
        }
        header svg {
            width: 800px;
        }
        header svg {
            width: 350px;
            height: 222px;
        }
        header .slant {
            bottom: -207px;
            /* background: red; */
            left: 50%;
        }
        header .navbar .container {
            background: #053019;
            padding: 10px 5px
        }
        header .navbar {
            border-bottom: #423f13 solid 1px;
            padding: 0;
        }
        .overlay ul {
            height: auto;
        }
        .mobile-view .poker-stats {
            display: block;
        }
        .mobile-view .poker-stats .info {
            flex-direction: column;
        }
        .mobile-view .poker-stats .info ul {
            margin: 0;
        }
        .mobile-view .poker-stats .info .col-box {
            margin-bottom: 20px;
        }
        .hamburger {
            display: block;
        }
        .mobile-view .poker-stats .info ul {
            margin-top: 8px;
        }
        footer .hash-signed .text {
            padding: 14px 15px;
        }
        footer .get-button a.playnow,
        .banner .get-button a.playnow,
        footer .get-button .btn-download,
        .banner .get-button .btn-download {
            padding: 12px 10px;
            font-size: 19px;
        }
        footer .get-button .btn-download:after,
        .banner .get-button .btn-download:after {
            top: 16px;
        }
        footer .get-button a:nth-child(1):after,
        .banner .get-button a:after {
            top: 18px;
        }
        .section-faq .accordion-item .accordion-button {
            font-size: 20px;
        }
        .section-faq .accordion-item .accordion-body p {
            font-size: 19px;
            line-height: 23px;
        }
        .table-poker tr td {
            font-size: 18px !important
        }
        .section-blog h2 a,
        .bloglist .inner .desc p {
            font-size: 19px;
        }
        .tournament-table h2 {
            font-size: 24px;
            padding: 20px 3px;
        }
        footer .hash-signed .text {
            padding-left: 37px;
        }
        .sidenav .widget {
            width: 100%
        }
        .blog-details .content-section .title {
            font-size: 30px;
        }
        .blog-details .featured-img {
            margin-bottom: 15px;
        }
        .comments form p:nth-child(3),
        .comments form p {
            width: 100%;
        }
        .comments form p .text {
            width: 100%;
        }
        .btn-default {
            padding: 12px 27px;
        }
        /* SIDESHIFT ORDER */
        .sideshift-order .waiting-send h2{
            font-size: 1.3rem;
        }
 
    }

    @media only screen and (max-width: 440px) {
        .content-section .container .sideshift-order{
            padding: 10px !important;
        }

        .container .sideshift-order .order-head{
            justify-content: center !important;
        }

        .sideshift-order .order-id{
            display: flex;
            margin-top: 10px;
        }

        .sideshift-order .order-id .order-no{
            margin-bottom: 0px;
            padding-left: 5px;
            line-height: normal;
        }

        .sideshift-order .order-id .order::after{
            content: ":"; 
        }

        .container .sideshift-order .waiting-send h2{
            font-size: 1.3rem;
        }

        .sideshift-order .qr-code{
            margin-top: 20px;
        }

        .container .sideshift-order label{
            font-size: 1rem !important;
        }

        .sideshift-order .date-order {
            display: flex;
        }

        .sideshift-order .date-order .order-no{
            font-size: 15px;
            padding-left: 5px;
            line-height: 1.2;
        }

        .sideshift-order .date-order .order::after{
            content: ":"; 
        }

        .sideshift-order .address-date{
            justify-content: center !important;
        }


    }

/* SIDESHIFT ORDER */
 
.content-section .container .sideshift-order{
    background-color: #1A1111;
    border: solid 2px #472D2D;
    border-radius: 10px; 
    padding: 40px;
}

 .sideshift-order .token-icon{
    max-width: 20px;
    max-height: 20px;
}

 .sideshift-order p, i{
    color: #AE8787;
}

.sideshift-order .token-name{
    font-size: 10px;
    margin-bottom: 0px;
    padding: 0px 10px 0px 10px;
    font-weight: bolder;
} 

.sideshift-order .order-head{
    margin-bottom: 40px;
}

.sideshift-order .order-id .order-no{
    font-weight: bold;
}

.sideshift-order .waiting-send h2{
    font-size: 1.7rem;
}

.sideshift-order .send, .rate{
    color: #AE8787;
    font-weight: 500;
    text-align: center; 
}

.sideshift-order .rate, .rate-value{
    margin: 0px;
}

.sideshift-order .fee{
    color: #AE8787;
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
}

.sideshift-order input[type='checkbox']{
    background-color: #271A1A;
    border: solid 1px #6B4F4F;
}

.sideshift-order .rate-value{
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
}

.sideshift-order .address .address-input a, .fa-clone{
    text-decoration: none; 
    padding-top: 10px;
    color: #EC4A59;
}

.sideshift-order .address-input input{
    background-color: #271A1A;
    border: solid 1px #6B4F4F;
    height: 50px;
    border-radius: 10px;
}

.sideshift-order .qr-code img{
    max-width: 150px;
    border: solid 10px #472D2D;
    border-radius: 5px;
}

.sideshift-order .order{
    color: #806363;
    font-size: 15px;
}

